.homePage {
  position: relative;
}

.heroSection {
  display: grid;
  gap: 0.5rem;
  align-content: center;
  min-height: 58svh;
  max-width: 600px;
}

.heroFull {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  align-content: center;
  min-height: 50svh;
}

.heroImage {
  overflow: hidden;
}

.heroImage img {
  width: 30rem;
  height: auto;
  right: 0;
  position: absolute;
  z-index: 0;
}

.section {
    margin-top: 2rem;
  padding: 2rem 0;
  z-index: 0;
}

.sectionHeading {
  display: grid;
  gap: 0.5rem;
  max-width: 640px;
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 0.5rem;
}

.skills img {
  width: 2rem;
  height: auto;
}

.skills img:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  border-radius: var(--radius-none);
  border: 1px solid var(--text-light);
  background: var(--bg);
  text-decoration: none;
  z-index: 1;
  padding: 1rem;
}

.projectCard:hover {
  transform: translateY(-0.25rem);
  transition: transform 0.1s ease-in-out;
}

.projectCard img {
  width: 45%;
  height: auto;
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.projectCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.1rem;
}

@media (max-width: 1200px) {
  .heroSection {
    max-width: 450px;
  }
}

@media (max-width: 1020px) {
  .heroFull {
    min-height: 0;
  }

  .heroImage img {
    right: 0rem;
    width: 20rem;
  }
}

@media (max-width: 720px) {
  .heroSection {
    max-width: 300px;
  }

  .heroImage img {
    width: 18rem;
  }

  .projectCard {
    flex-direction: column;
  }

  .projectCard img {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .heroImage img {
    display: none;
  }
}