.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 5rem;
  background-color: transparent;
}

.header.scrolled {
  background-color: transparent;
}

.brand {
  color: var(--text);
  font-weight: 800;
  text-decoration: none;
}

.brand img {
  width: 8rem;
  height: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.nav a {
  border-radius: var(--radius-none);
  color: var(--text);
  background: var(--bg);
  padding: 0.55rem 0.8rem;
  text-decoration: none;
  font-weight: 600;
}

.nav a:global(.active),
.nav a:hover {
   border-color: transparent;
  background: var(--bg);
  border-bottom: 2px solid var(--primary);
}

@media (max-width: 720px) {
  .nav {
    justify-content: space-between;
  }

  .brand {
    display: none;
  }
}
